In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [54]:
distance_of = pd.read_csv("/Users/betsyfrdmn/Desktop/Lucas Code/CSV/distance_matrix_OF.csv",
                          index_col="Unnamed: 0")

# distance_of = pd.read_csv("/Users/betsyfrdmn/Desktop/Lucas Code/CSV/distance_matrix_OF.csv") #,
#                          index_col="Unnamed: 0")

In [17]:
distance_of.shape

(1629, 1629)

In [43]:
#distance_of.iloc[1600:]
distance_of.head()

,19|60|||,19|58|||,19|56|||,19|54|||,19|52|||,19|50|||,19|48|||,19|46|||,19|44|||,19|42|||,...,|Start 06,|Start 07,|Start 08,|Start 09,|Start 10,|Start 11,|Start 12,|Start 13,|Start 14,|Start L2
19|60|||,0,7,15,22,30,37,45,53,60,68,...,804,773,785,704,716,744,732,813,801,822
19|58|||,478,0,7,15,22,30,38,45,53,60,...,796,765,777,696,708,736,724,805,793,814
19|56|||,471,478,0,7,15,22,30,38,45,53,...,789,758,770,689,701,728,717,797,786,806
19|54|||,463,471,478,0,7,15,22,30,37,45,...,781,750,762,681,693,721,709,790,778,799
19|52|||,456,463,471,478,0,7,15,22,30,37,...,773,742,754,673,685,713,701,782,770,791

In [ ]:
# distance_of[distance_of["Unnamed: 0"].str.contains("22\|55")]

,Unnamed: 0,19|60|||,19|58|||,19|56|||,19|54|||,19|52|||,19|50|||,19|48|||,19|46|||,19|44|||,...,|Start 06,|Start 07,|Start 08,|Start 09,|Start 10,|Start 11,|Start 12,|Start 13,|Start 14,|Start L2
144,22|55|||,67,75,82,90,97,105,113,120,128,...,366,426,408,495,477,449,468,380,399,427

In [55]:
distance_lookup = distance_of.stack().reset_index()
distance_lookup.columns = ["Prior_Location", "Location", "Distance"]
distance_lookup

        Prior_Location   Location  Distance
0             19|60|||   19|60|||         0
1             19|60|||   19|58|||         7
2             19|60|||   19|56|||        15
3             19|60|||   19|54|||        22
4             19|60|||   19|52|||        30
...                ...        ...       ...
2653636      |Start L2  |Start 11       179
2653637      |Start L2  |Start 12       177
2653638      |Start L2  |Start 13       248
2653639      |Start L2  |Start 14       246
2653640      |Start L2  |Start L2         0

[2653641 rows x 3 columns]

In [58]:
distance_lookup[distance_lookup["Location"]=="19|28|||"][distance_lookup["Prior_Location"]=="42|38|||"]

/var/folders/r9/zx84vhy57q9_n8tk5dnw8g980000gn/T/ipykernel_9188/609913079.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  distance_lookup[distance_lookup["Location"]=="19|28|||"][distance_lookup["Prior_Location"]=="42|38|||"]

        Prior_Location  Location  Distance
1754449       42|38|||  19|28|||       829